.gitconfig
.zsh_history
.cfg
Downloads
Documents
Videos
Music
Study
Pictures
Desktop
Movies
Public
Library
Templates
VMs

.steam*
.Xclients
.gnupg

.DS_Store
.CFUserTextEnncoding
.bash_sessions/
.docker/

.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache/
.dbus/
.fzf.bash
.fzf.zsh
.fzf/
.ipython/
.keras/
.mozilla/
.mplayer/
.oh-my-zsh/
.pip/
.pki/
.python_history
.shell.pre-oh-my-zsh
.ssh/
.surf/
.viminfo
.w3m/
.xbacklight.conf
.z*
.zcompdump-*
.zplug/
zsh_history
